In [1]:
import pandas as pd

# Create Hotels CSV

In [2]:
df = pd.read_csv('Hotel_Reviews.csv')

In [3]:
df.head(1)

                                       Hotel_Address    ...          lng
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...    ...     4.915968

[1 rows x 17 columns]

In [4]:
df = df.drop(['lat','lng','Total_Number_of_Reviews', 'Additional_Number_of_Scoring', 'Review_Date', 'Reviewer_Nationality', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Tags', 'days_since_review', 'Reviewer_Score'], axis=1)

In [5]:
df['Hotel_Address'] = df['Hotel_Address'].astype('category')
df['Hotel_Address'] = df.Hotel_Address.cat.codes

In [6]:
#Drop duplicates from Hotels Dataframe based on Hotel Address
df = df.drop_duplicates(subset=['Hotel_Address'])

In [7]:
df = df[['Hotel_Address','Hotel_Name','Average_Score']]
df=df.rename(index=str, columns={"Hotel_Address": "Hotel_ID"})

In [8]:
#Change collumns order in DF
df.head()

      Hotel_ID                        Hotel_Name  Average_Score
0            0                       Hotel Arena            7.7
405          1                  K K Hotel George            8.5
971          2           Apex Temple Court Hotel            9.2
2008         3  The Park Grand London Paddington            7.7
3778         4               Monhotel Lounge SPA            8.4

In [9]:
#Export Hotels to CSV
df.to_csv('Hotels.csv',index=False)

In [10]:
#Ensure that Hotels CSV was created successfully
dfh = pd.read_csv('Hotels.csv')
dfh.head()

   Hotel_ID                        Hotel_Name  Average_Score
0         0                       Hotel Arena            7.7
1         1                  K K Hotel George            8.5
2         2           Apex Temple Court Hotel            9.2
3         3  The Park Grand London Paddington            7.7
4         4               Monhotel Lounge SPA            8.4

# Create Reviews CSV

In [57]:
dfr = pd.read_csv('Hotel_Reviews.csv')

In [58]:
dfr = dfr.drop(['Average_Score', 'Total_Number_of_Reviews', 'Additional_Number_of_Scoring', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Tags', 'days_since_review'], axis=1)

In [59]:
dfr['Hotel_Address'] = dfr['Hotel_Address'].astype('category')
dfr['Hotel_Address'] = dfr.Hotel_Address.cat.codes

In [60]:
df2 = dfr['Review_Date']
df2.head()

0     8/3/2017
1     8/3/2017
2    7/31/2017
3    7/31/2017
4    7/24/2017
Name: Review_Date, dtype: object

In [61]:
df3= df2.str.split("/")
df3 = pd.DataFrame(df3)
df4= df3.applymap(lambda x: x[0])
df4.head()

  Review_Date
0           8
1           8
2           7
3           7
4           7

In [62]:
df5 = dfr['Reviewer_Nationality']

In [63]:
dfr.Reviewer_Nationality = pd.Categorical(dfr.Reviewer_Nationality)

In [64]:
dfr['Nationality_Code'] = dfr.Reviewer_Nationality.cat.codes

In [65]:
#Put "0" before nationality to ensure UsersID's are not duplicated

df4=df4.applymap(lambda x: "0"+x[0])

In [66]:
df4.head()

  Review_Date
0          08
1          08
2          07
3          07
4          07

In [67]:
dfr['Code'] = df4

In [68]:
dfr["Reviewer_ID"] = dfr['Nationality_Code'].map(str) + dfr['Code']

In [69]:
dfr = dfr.drop(['Review_Date','Code','Reviewer_Nationality','lat','lng','Nationality_Code'], axis=1)

In [70]:
dfr=dfr.rename(index=str, columns={"Hotel_Address": "Hotel_ID"})

In [71]:
#Change collumns order in Reviews DataFrame
dfr = dfr[['Reviewer_ID', 'Hotel_ID', 'Reviewer_Score']]

In [73]:
#Export Hotels to CSV
dfr.to_csv('Reviews.csv',index=False)

In [74]:
#Ensure that Hotels CSV was created successfully
dfr = pd.read_csv('Reviews.csv')
dfr.head()

   Reviewer_ID  Hotel_ID  Reviewer_Score
0        16708         0             2.9
1         9808         0             7.5
2         1407         0             7.1
3        21407         0             3.8
4        14607         0             6.7